<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<!-- 
	<bean id="baseAction" class="cn.it.shop.action.BaseAction" scope="prototype">
		<property name="categoryService" ref="categoryService" />
		<property name="accountService" ref="accountService"/>
	</bean>
	<bean id="categoryAction" class="cn.it.shop.action.CategoryAction" parent="baseAction" scope="prototype" />
	<bean id="accountAction" class="cn.it.shop.action.AccountAction" parent="baseAction" scope="prototype" />
	<bean id="sendAction" class="cn.it.shop.action.SendAction"></bean>	
	 -->
	 
	</beans>